<div class="container">
    <div class="overview-wrapper">
    <h3>Overview</h3>
   
   
      <div class="selected-period">
      <p>Selected period
        <br>
        <span *ngIf="range.controls.start.value && range.controls.end.value">
          {{ range.controls.start.value | date }} - {{ range.controls.end.value | date }}
        </span>
      </p>
      <div class="calendar-icon">
      <mat-icon class="date-range">date_range</mat-icon>
    </div>
    </div>
<button class="create-order"> Create  <br>  Work Order  <mat-icon class="build-icon">build</mat-icon></button>
</div>
       
      
      
    <div class="chart-wrapper">
        <div class="date-picker-wrapper">
            <div class="text-wrapper">
        <h3 style="margin-bottom: 0px;">Utilization Timeline</h3> 
        <p>A graph showing the number of trucks with asigned driver versus loaded trucks.<br>
        The actual amount will be shown in the preview by day. The preview by week or higher range will reveal average numbers </p>
        <div class="utilization-average">
            <div class="utilization-item">
            <p>Utilization</p>
            <br>
            <span class="average">63%</span>
            <mat-icon class="info-icon">info</mat-icon>
        </div>
        <div class="utilization-item">
            <p>Total Utilization</p>
            <br><span class="average">54%</span>
            <mat-icon class="info-icon2">info</mat-icon>
        </div>
        </div>
    </div>
        <form [formGroup]="range">
            <div class="toggle-container">
            <mat-form-field>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" [min]="minDate"
                [max]="maxDate" placeholder="Start date" >
                <input matEndDate formControlName="end" [min]="minDate"
                [max]="maxDate" placeholder="End date">
                
              </mat-date-range-input>
              <div class="arrow-down">
              <span class="toggle-text" >By month</span>
              <mat-datepicker-toggle matSuffix [for]="picker">
                
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                   
                 
              </mat-datepicker-toggle>
            </div>
            </mat-form-field>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
        </div>
           
           
          </form>
        </div>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '85%', height:'360px'}"></canvasjs-chart>    
</div>
</div>
