<div class="container">
    <h3>Overview</h3>
    <button mat-button>
        <mat-icon>calendar-today</mat-icon>
      </button>
      
    <button></button>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <input matInput placeholder="Selected Date" [value]="selectedDate">
      
    <div class="chart-wrapper">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '85%', height:'360px'}"></canvasjs-chart>    
</div>
</div>
