.container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  width: 100%;
  padding: 2%;
  max-width: 93%;
  margin: auto;
}

.chart-wrapper {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}

.box-text {
  margin-top: 5px;
}

.box {
  position: relative;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-line div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-line div span {
  position: relative;
}

.bottom-line div p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

.side-menu {
  box-shadow: 4px -1px 5px -5px rgba(0, 0, 0, 0.5);
}

.side-menu-icons {
  color: rgba(152, 147, 147, 0.997);
  zoom: 1.5;
}

.bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12%;
}

.bus-icon {
  background: linear-gradient(to right, #446fef, #2d2dee);
  color: white;
  border-radius: 4px 0 0 0px;
  width: 23px;
  height: 22px;
  zoom: 1.5;
}

.percentages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 23px;
  padding-top: 13%;
}

.center {
  grid-column: 1 / 3;
}

.percentages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.percentages span {
  font-size: 48px;
  color: #2d2dee;
  font-weight: 900;
}

.percentages p {
  font-size: 21px;
  position: relative;
  bottom: 19%;
  right: -93px;
}

.percentages .empty-trucks {
  font-size: 21px;
  position: relative;
  bottom: 6%;
  right: -68px;
}

.percentages h6 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  width: 62px;
  color: #182a92;
}

.box-tooltip {
  position: absolute;
  top: -45px;
  right: -87px;
  padding: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 12px 0;
  width: 89px;
  height: 36px;
  font-size: 15px;
  background-color: white;
}

.active-trucks {
  line-height: 17px;
}

.trucks {
  margin-top: 4%;
  margin-bottom: -2%;
  font-size: 20px;
  font-weight: 900;
}

.current-number {
  font-size: 16px;
}

@media screen and (max-width: 650) {
  .container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 90%;
    padding: 8%;
  }

  .selected-period {
    font-size: 13px !important;
  }

  .calendar-icon {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 4%;
    height: 4.6%;
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 48.6%;
  }

  .overview-wrapper {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }

  .overview-title {
    flex: 1 !important;
    margin-right: 10px !important;
    font-size: 20px !important;
  }

  .buttons {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-end !important;
    align-items: center !important;
  }

  .create-order {
    margin-top: 10px !important;
    flex-basis: 100% !important;
  }

  .overview-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11%;
  }
}

.selected-period {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  color: #42424278;
  height: 72px;
  font-size: 17px;
  flex: 1;
  padding-left: 2%;
}

.selected-period span {
  color: #3a39399e;
  margin-left: 2%;
  width: 80%;
  font-size: 18px;
  font-weight: bolder;
}

.selected-period p {
  flex: 1;
  padding-right: 10px;
  line-height: 17px;
}

.create-order {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  color: #42424278;
  margin-left: 6%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.create-order div {
  flex: 1;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  line-height: 30px;
  background: linear-gradient(to right, #1f28f0b8, #030340);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00000030;
}

.create-order b {
  margin-left: -15%;
  font-size: 18px;
  margin-top: 9px;
  font-weight: 900;
}

.calendar-icon {
  border-radius: 11px;
  width: 51px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  zoom: 1.5;
  box-shadow: -6px 0 18px -13px rgba(0, 0, 0, 0.8);
}

.date-range {
  font-size: 18px;
  color: #42424278;
}

.overview-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.overview-title {
  flex: 1;
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: width;
  max-width: 100%;
  width: 60%;
}

.build-icon {
  font-size: 25px;
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 15%;
  height: 45px;
  max-height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 61, 213);
}

.chart-top-menu {
  display: flex;
  justify-content: space-between;
}

.chart-top-menu .text-wrapper {
  flex-basis: 60%;
}

.chart-top-menu .form-container {

  margin-top: 1%;
}

.overview-wrapper h3 {
  color: rgb(38, 61, 213);
  font-size: 20px;
}

p {
  color: #42424278;
  width: 100%;
  margin: 0px;
}

span {
  color: #42424278;
  margin-left: 8%;
  width: 80%;
  font-size: 12px;
}

.average {
  font-size: 18px;
  font-weight: 800;
}

.toggle-container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  height: 51px;
  border-radius: 29px;
  padding: 6%;
  display: inline;
  margin-left: -8%;
}

.utilization-average {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 0px;
  width: 34%;
  justify-content: space-between;
}

.utilization-item {
  position: relative;
}

.icon-container {
  display: flex;
  align-items: flex-start;
}

.info-icon2 {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: 5px;
  color: rgb(38, 61, 213);
}

.info-icon {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 19px;
  margin-right: -18px;
  color: rgb(38, 61, 213);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 44%;
  line-height: 13px;
  font-size: 9px;
}

.parent-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.side-menu {
  flex: 0 0 23%;
}

.content-wrapper {
  flex: 0 0 70%;
  z-index: 1;
  display: grid;
  grid-gap: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 850px) {
  .chart-top-menu {
    display: flex;
    flex-direction: column;
  }

  .chart-top-menu .form-container {
    margin-top: 5%;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: width;
    max-width: 100%;
    width: 100%;
  }

  .selected-period {
    height: 45px;
  }

  .bus-icon {
    zoom: 1.5;
  }

  .bordered {
    margin-top: 3%;
  }

  .side-menu-icons {
    zoom: 1.5;
  }

  .selected-period p {
    font-size: 13px;
    line-height: 13px;
  }

  .selected-period span {
    margin-left: 0;
    font-size: 12px;

  }

  .calendar-icon {

    width: 58px;
    height: 46px;

    zoom: 1;

  }

  .create-order {
    height: 45px;
  }

  .create-order b {
    font-size: 16px;
    margin-left: -17%;
  }

  .create-order div {
    font-size: 16px;
  }

  .text-wrapper {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    width: 44%;
    line-height: 22px;
    font-size: 18px;
  }

  .text-wrapper h3 {
    font-size: 20px;
  }

  .utilization-average {
    width: 56%;
  }

  .info-icon2 {
    font-size: 25px;
    top: 12px;
    right: 33px;
  }

  .build-icon {
    font-size: 21px;
    width: 16%;
  }

  .info-icon {
    font-size: 24px;
    position: absolute;
    top: 13px;
    right: 14px;
    margin-top: 19px;
    margin-right: -18px;
    color: rgb(38, 61, 213);
  }

  .average {
    font-size: 28px;
  }

  .percentages {
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-top: 152px;
  }


  .overview-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 11%;
  }

  .parent-container {
    flex-direction: column;
  }

  .side-menu {
    padding: 8%;
    box-shadow: 4px -1px 5px -5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: contents;
  }

  .side-menu,
  .content-wrapper {
    flex: 0 0 100%;
  }

  .content-wrapper {
    margin-top: 51%;
    max-width: 100%;
    width: 94%;
    margin: auto;
    margin-top: 30%;

  }

}

@media screen and (max-width: 400px) {
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 2px;
    width: 40%;
    margin-left: auto;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 5%;
  }

  .trucks {
    font-size: 16px !important;
  }

  .current-number {
    font-size: 13px;
  }

  .percentages span {
    font-size: 33px;
  }

  .percentages p {
    font-size: 15px;
    position: relative;
    bottom: 19%;
    right: -67px;

  }

  .percentages .empty-trucks {
    font-size: 15px;
    position: relative;
    bottom: 6%;
    right: -50px;
  }

  .active-trucks {
    line-height: 11px;
  }

  .selected-period p {
    font-size: 11px;
    line-height: 9px;
  }

  .selected-period span {
    font-size: 9px
  }

  .create-order div {
    font-size: 14px;
  }

  .create-order b {
    font-size: 13px;
    margin-left: -26%;
  }

  .build-icon {
    width: 25%;
  }

  .text-wrapper h3 {
    font-size: 16px;
  }

  .text-wrapper {
    line-height: 16px;
    font-size: 14px;

  }

  .average {
    font-size: 16px;
  }

  .info-icon {
    font-size: 16px;
    position: absolute;
    top: 4px;
    right: 14px;
    margin-top: 19px;
    margin-right: -10px;
    color: rgb(38, 61, 213);
  }

  .info-icon2 {
    font-size: 16px;
    top: 4px;
    right: 33px;

  }

  .card-footer button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(244, 244, 250, 6%);
    color: rgba(92, 91, 91, 58%);
    font-weight: 700;
    font-size: 16px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

.date-picker-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  color: rgb(38, 61, 213);
}

.arrow-down {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  width: 59%;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 56px;
  margin-top: -6%;
  margin-right: -5%;
}

.rounded-side {
  display: flex;
  flex-direction: revert;
  justify-content: unset;
  align-items: center;
  border-radius: 67px;
  padding: 16px;
  height: 2em;
  width: 36%;
  font-size: 13px;
  box-shadow: -10px 0 10px -9px rgba(0, 0, 0, 0.5);
  margin-top: 4%;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  display: flex;
  height: 20px;
  border-radius: 29px;
  align-items: center;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  width: 52% !important;
  margin-top: 4%;
}

::ng-deep .mat-date-range-input-inner {
  font-size: 14px !important;
  color: #42424278 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border-radius: 20px;

  ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: rgba(246, 240, 240, 0.05) !important;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  width: 19em !important;
  max-width: 100%;
  height: 3em;
  font-size: 17px;
}

:host /deep/ .mdc-form-field.custom-form-field .mdc-line-ripple::before,
:host /deep/ .mdc-form-field.custom-form-field .mdc-line-ripple::after {
  border-bottom-style: hidden;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 30px !important;
}