.container{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 3%;
    width: 90%;
    padding: 3%;
}
.chart-wrapper{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 3%;
    width: 90%;
    padding: 3%;
}
.selected-period{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 27%;
    padding: 1%;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
    color: #42424278;
    font-size: 16px;
   
}
.create-order{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 27%;
    padding: 4%;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
    color: #42424278;
    font-size: 16px;
}
.overview-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
build-icon{
    color: white;
}
.calendar-icon{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 5%;
    height: 11.7%;
    position: absolute;
    display: flex;
    margin-left: 20.3%;
    align-items: center;
    justify-content: center;
  
   
}
p{ 
    color: #42424278;
    width: 100%;
    margin: 0px;
}
span{
    color: #42424278;
    margin-left: 2%;
    width:80%;
    font-size: 12px;
}
.average{
    font-size: 18px;
    font-weight:800;
 
}
.toggle-container{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    height: 51px;
    border-radius: 29px;
    padding: 6%;
    display: inline;
    margin-left: -8%;
}
.utilization-average{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 0px;
    width: 24%;
    justify-content: space-between;
 
}
.utilization-item {
    position: relative;
  }
  
  .icon-container {
    display: flex;
  align-items: flex-start;
  }
.info-icon2 {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 19px;
    margin-right: 5px;
    color: rgb(38, 61, 213);
  }
  .info-icon {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 19px;
    margin-right: -18px;
    color: rgb(38, 61, 213);
  }
.build-icon{
    font-size: 25px;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 6%;
    height: 10%;
    position: absolute;
    display: flex;
    margin-left: 14%;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 61, 213);

}
.text-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: 13px;
    font-size: 9px;
}
.date-picker-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}
h3{color: rgb(38, 61, 213);;}
.date-range{
    font-size: 25px;
    color: #42424278;
}
.arrow-down{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    width: 59%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 56px;
    margin-top: -6%;
    margin-right: -5%;
}
  ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    /* padding-top: 16px;
    padding-bottom: 16px; */
    display: flex;
    width: 283px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
    height: 20px;
    border-radius: 29px;
    /* min-height: 60px !important; */
  }
  ::ng-deep .mat-date-range-input-inner{
    font-size: 12px !important;
    color: #42424278 !important;
  }
  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper  {
    border-radius: 20px;
    ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: white
    }  
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
    border-bottom-color: rgba(246, 240, 240, 0.05) !important;
}
::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white
}  
:host /deep/ .mdc-form-field.custom-form-field .mdc-line-ripple::before,
:host /deep/ .mdc-form-field.custom-form-field .mdc-line-ripple::after {
    border-bottom-style: hidden;
}
  
  
  
 
  
  
  
  
  