<!-- app.component.html -->

<div class="container">
    <h1>Fleet Health</h1>
    <button class="overview">Overview</button>
    <button mat-button class="custom-button">
      <span class="button-text">Dealer & Shop</span>
      <span class="number-badge">8</span>
      <mat-icon class="exclamation-mark">priority_high</mat-icon>
    </button>
    <button mat-button class="custom-button">
      <span class="button-text">Yard</span>
      <span class="number-badge">8</span>
    </button>
    <button mat-button class="custom-button">
      <span class="button-text">Recovery</span>
      <span class="number-badge">18</span>
    </button>
    <button mat-button class="custom-button">
      <span class="button-text">Abandoned</span>
      <span class="number-badge">3</span>
    </button>
    <div class="search-bar">
      <input type="text" class="search-input">
      <button class="search-button">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </div>
  </div>
  