<h3>Create Worker Order</h3>
<div class="order-text">
  <span
    >Use this section to record any events related to truck or trailer
    maintenance, such as repairs, inspection or maintenance task. You can also
    add follow-up notes, photos or documentation to keep track of the
    maintenance progress. Stay organized and informed</span
  >
</div>
<br />
<div class="toggle-buttons">
  <button class="toggle-button active">Truck</button>
  <button class="toggle-button trailer">Trailer</button>
</div>

<br />
<div class="basic-info">
  <div id="info-icon" class="info-icon">
    <mat-icon>info</mat-icon>
  </div>
  <p>Basic info</p>
</div>
<br />
<div class="container">
  <div class="item first-column narrow">Truck</div>
  <div class="item value">7996</div>
  <div class="item first-column narrow">Brand</div>
  <div class="item value">Freightliner Cascadia 2018</div>
  <div class="item first-column narrow">Trailer #</div>
  <div class="item value">415456</div>
  <div class="item first-column narrow">Driver</div>
  <div class="item value">Frederic Robinson</div>
  <div class="item first-column narrow">Dispatcher</div>
  <div class="item value">Bojana Bogdanovic</div>
  <div class="item first-column narrow">Load Status</div>
  <div class="item value">In transit</div>
  <button (click)="onCloseModal()">Next</button>
</div>
<br />

<div class="details">
  <div class="payment-details">
    <div id="info-icon" class="details-icon">
      <mat-icon>build</mat-icon>
    </div>
    <p>Work order</p>
    <div class="edit">
      <mat-icon>add_circle</mat-icon>
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="payment-details">
    <div id="info-icon" class="details-icon">
      <mat-icon>contacts</mat-icon>
    </div>
    <p>Contact details</p>
  </div>
  <div class="payment-details">
    <div id="info-icon" class="details-icon">
      <mat-icon>credit_card</mat-icon>
    </div>
    <p>Payment details</p>
    <div class="edit">
      <mat-icon>add_circle</mat-icon>
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="payment-details">
    <div id="info-icon" class="details-icon">
      <mat-icon>flag</mat-icon>
    </div>
    <p>Start/End</p>
  </div>
</div>

<br />
<div class="end-buttons">
  <button (click)="onCloseModal()">Discard</button>
  <button (click)="onCloseModal()">Finish</button>
</div>
